body{
    text-align: center;
    background-color: rgb(204, 223, 121);
}

.titulo{
    font-size: 70px;
}

.input{
    border-radius: 10px;
    border-color: rgb(229, 255, 0);
    background-color: rgb(240, 255, 172);
    text-align: center;
    height: 35px;
}

.glow-on-hover {
    font-size: larger;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(240, 255, 172);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #2c0030, #570048, #6c0086, #2300a1, #0078bd, #0085b9, #000000, #2c0030 );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(255, 255, 255)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(240, 255, 172);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}